.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.target_name {
  font-size: 1.5rem;
  font-weight: bold;
}

.title_box {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.color {
  width: 280px;
  height: 160px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.color:active{
  transform: scale(0.95);
}

.color_light {
  color: white;
}

.percent_value {
  font-weight: bold;
  margin-bottom: 15px;
}

.alert_text {
  margin-top: 15px;
  color: rgb(112, 112, 112);
}

.go_home {
  text-decoration: none;
  position: fixed;
  left: 50%;
  bottom: 40px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 12px 20px;
  background: #8A6CFF;
  border: 2px solid #fff;
  box-shadow: 0 10px 25px rgba(52, 82, 220, 0.2);
  transform: translateX(-50%);
}